
<div class="">
    <div class="flex flex-col justify-center items-center pt-5">
        <div class="heading bg-white font-[600] text-[1.5em]">Hello Admin</div>
    </div>
    <div class=" flex bg-gray-200 mt-10 h-[830px] pt-10 pl-5 w-full gap-10 ">
        <div class=" flex flex-col gap-6">
            <div class=" w-[200px] flex bg-white h-10 justify-center items-center gap-8 font-[500] text-[1.2em] rounded-[10px] text-blue-600">
                <i class="fa-solid fa-house"></i>
                <div class="home">Home</div>
            </div>
            <button type="button" class="  w-[200px] flex bg-blue-600 h-10 justify-center items-center gap-8 text-white font-[500] text-[1.2em]  rounded-[10px]">
                <i class="fa-solid fa-plus"></i>
                Add
            </button>
            <div class=" w-[200px] flex bg-white h-10 justify-between px-5 items-center font-[500] text-[1.2em] rounded-[10px] text-blue-600">
                <i class="fa-solid fa-right-from-bracket"></i>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %} 
                    <button type="submit" class="home">Logout</button>
                </form>
            </div>
        </div>
        <div class=" w-full bg-white ">
            <form action="{% url 'homepage' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div id="icon_wrapper" class=" border text-gray-300 flex justify-center items-center">
                <img id="app_icon_image" class=" max-w-[200px] h-auto" src="media/images/image.png" alt="">
                <input type="file" name="app_icon" id="app_icon" class="hidden">
             
            </div>
            <div class=" flex justify-center items-center gap-24 mt-28">
                <div class=" flex flex-col gap-5">
                    <input type="text" name="app_name" id="app_name" class=" border border-blue-600 h-10 rounded-[8px] px-5 w-[240px]" placeholder="App name" >
                    <select  id="category" name="category" class=" bg-gray-300 h-10 rounded-[8px] px-5 w-[240px]" >
                        {% for cat in category %}
                        <option value="{{ cat.id }}">{{ cat }} </option>
                        {% endfor %}

                    </select>
                </div>
                <div class=" flex flex-col gap-5">
                    <input type="text" name="app_link" id="app_link" class=" border border-blue-600 h-10 rounded-[8px] px-5 w-[240px]" placeholder=" App link" >
                    <select  id="subcategory" name = "subcategory" class=" bg-gray-300 h-10 rounded-[8px] px-5 w-[240px]" >
                        {% for subcategory in subcategories %}
                        <option value="{{ subcategory.id }}">{{ subcategory }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="flex justify-center items-center mt-20 cursor-pointer ">
                <input type="number" name="points" placeholder="ADD POINTS" class=" border border-green-400 rounded-lg py-2 px-4 placeholder:text-[1.2em] placeholder:text-black placeholder:text-center bg-green-300">
            </div>
            <div class="flex justify-center items-center mt-20 cursor-pointer">
                <button class="bg-yellow-300 px-12 py-3 rounded-lg font-semibold" type="submit">Submit</button>
            </div>
        </form>
        </div>
    </div>
</div>