

{% extends 'layout.html' %}
{% block body %}
    
<div class="">
    <div class="flex flex-col justify-center items-center pt-5">
        <div class="heading bg-white font-[600] text-[1.5em]">Hello User</div>
    </div>
    <div class=" flex bg-gray-200 mt-10 h-[830px] pt-10 pl-5 w-full gap-10 ">
        <div class=" flex flex-col gap-6">
            {% include 'components/routes.html' %}
        </div>
        <div class=" w-full bg-white flex  justify-center items-center">
            <div class="w-[80%] h-[80%]  flex flex-col justify-center items-center gap-10"> 
                {% for app in apps %}
                {% include 'components/appComponent.html' with app=app %}
                {% endfor %}
            </div>
        </div>  
    </div>
</div>

{% endblock %}
