
<a href="{% url 'app' %}" class=" w-[200px] flex bg-white h-10 cursor-pointer justify-between px-5 items-center font-[500] text-[1.2em] rounded-[10px] text-blue-600">
    <i class="fa-solid fa-house"></i>
    <div class="home">Home</div>
</a>
<a class=" w-[200px] flex bg-white h-10 justify-between px-5 cursor-pointer items-center font-[500] text-[1.2em] rounded-[10px] text-blue-600">
    <i class="fa-solid fa-user"></i>
    <div class="home">Profile</div>
</a>
<a  class=" w-[200px] flex bg-white h-10 justify-between px-5 cursor-pointer items-center font-[500] text-[1.2em] rounded-[10px] text-blue-600">
    <i class="fa-solid fa-diagram-project"></i>
    <div class="home">Points</div>
</a>
<a class=" w-[200px] flex bg-white h-10 justify-between px-5 cursor-pointer items-center font-[500] text-[1.2em] rounded-[10px] text-blue-600">
    <i class="fa-solid fa-list-check"></i>
    <div class="home">Task</div>
</a>
<a class=" w-[200px] flex bg-white h-10 justify-between px-5 cursor-pointer items-center font-[500] text-[1.2em] rounded-[10px] text-blue-600">
    <i class="fa-solid fa-right-from-bracket"></i>
    <div class="home">Logout</div>
</a>