
{% include 'layout.html' %}
{% block body %}
    
<div class="">
    <div class="flex flex-col justify-center items-center pt-5">
        <div class="heading bg-white font-[600] text-[1.5em]">Hello Admin</div>
    </div>
    <div class=" flex bg-gray-200 mt-10 h-[830px] pt-10 pl-5 w-full gap-10 ">
        <div class=" flex flex-col gap-6">
            <div class=" w-[200px] flex bg-white h-10 justify-between px-5 items-center font-[500] text-[1.2em] rounded-[10px] text-blue-600">
                <i class="fa-solid fa-house"></i>
                <div class="home">Home</div>
            </div>
            <div class=" w-[200px] flex bg-white h-10 justify-between px-5 items-center font-[500] text-[1.2em] rounded-[10px] text-blue-600">
                <i class="fa-solid fa-user"></i>
                <div class="home">Profile</div>
            </div>
            <div class=" w-[200px] flex bg-white h-10 justify-between px-5 items-center font-[500] text-[1.2em] rounded-[10px] text-blue-600">
                <i class="fa-solid fa-diagram-project"></i>
                <div class="home">Projects</div>
            </div>
            <div class=" w-[200px] flex bg-white h-10 justify-between px-5 items-center font-[500] text-[1.2em] rounded-[10px] text-blue-600">
                <i class="fa-solid fa-list-check"></i>
                <div class="home">Task</div>
            </div>
            <div class=" w-[200px] flex bg-white h-10 justify-between px-5 items-center font-[500] text-[1.2em] rounded-[10px] text-blue-600">
                <i class="fa-solid fa-right-from-bracket"></i>
                <div class="home">Logout</div>
            </div>
        </div>
        <div class=" w-full bg-white flex justify-center items-center">
            <div class="w-[80%] h-[80%] bg-gray-200"> 
                
            </div>
        </div>  
    </div>
</div>

{% endblock %}